@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@layer components {
	.max-container {
		max-width: 1150px;
		margin: auto;
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.min-container {
		max-width: 950px;
		margin: auto;
		padding-left: 5rem;
		padding-right: 5rem;
	}

	@media (max-width: 900px) {
		.max-container {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
    font-family: "Inter", serif;
	height: 100svh;
}

